<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="./css/style.css">
</head>

<body class="page">
	<div class="grid">
		<div class="grid__input">
			<label>
				<input class="grid__input__field" type="text" placeholder="Введите название организации">
			</label>
		</div>
		<div class="grid__button">
			<button class="grid__button__search">
				<img class=" grid__button__search__img" src="./img/loupe.svg" alt="loupe">
			</button>
		</div>
		<div class="grid__tail-1">
			<div class="grid__item">
				<div class="grid__item__wrapper-img">
					<img class=" grid__item__img" src="./img/avatar.png" alt="K">
				</div>
				<div class="grid__item__info">
					<h1 class="grid__item__info__heading">kts-school-frontend</h1>
					<a class="grid__item__info__caption" href="#">ktsstudio</a>
					<img class="grid__item__info__star" src="./img/star.svg" alt="star">
					<span class="grid__item__info__number">123</span>
					<span class="grid__item__info__date">Updated 21 Jul</span>
				</div>
			</div>
		</div>
		<div class="grid__tail-2">
			<div class="grid__item">
				<div class="grid__item__wrapper-img">
					<img class=" grid__item__img" src="./img/avatar.png" alt="K">
				</div>
				<div class="grid__item__info">
					<h1 class="grid__item__info__heading">kts-school-frontend</h1>
					<a class="grid__item__info__caption" href="#">ktsstudio</a>
					<img class="grid__item__info__star" src="./img/star.svg" alt="star">
					<span class="grid__item__info__number">123</span>
					<span class="grid__item__info__date">Updated 21 Jul</span>
				</div>
			</div>
		</div>
		<div class="grid__tail-3">
			<div class="grid__item">
				<div class="grid__item__wrapper-img">
					<img class=" grid__item__img" src="./img/avatar.png" alt="K">
				</div>
				<div class="grid__item__info">
					<h1 class="grid__item__info__heading">kts-school-frontend</h1>
					<a class="grid__item__info__caption" href="#">ktsstudio</a>
					<img class="grid__item__info__star" src="./img/star.svg" alt="star">
					<span class="grid__item__info__number">123</span>
					<span class="grid__item__info__date">Updated 21 Jul</span>
				</div>
			</div>
		</div>
		<div class="grid__tail-4">
			<div class="grid__item">
				<div class="grid__item__wrapper-img">
					<img class=" grid__item__img" src="./img/avatar.png" alt="K">
				</div>
				<div class="grid__item__info">
					<h1 class="grid__item__info__heading">kts-school-frontend</h1>
					<a class="grid__item__info__caption" href="#">ktsstudio</a>
					<img class="grid__item__info__star" src="./img/star.svg" alt="star">
					<span class="grid__item__info__number">123</span>
					<span class="grid__item__info__date">Updated 21 Jul</span>
				</div>
			</div>
		</div>
		<div class="grid__tail-5">
			<div class="grid__item">
				<div class="grid__item__wrapper-img">
					<img class=" grid__item__img" src="./img/avatar.png" alt="K">
				</div>
				<div class="grid__item__info">
					<h1 class="grid__item__info__heading">kts-school-frontend</h1>
					<a class="grid__item__info__caption" href="#">ktsstudio</a>
					<img class="grid__item__info__star" src="./img/star.svg" alt="star">
					<span class="grid__item__info__number">123</span>
					<span class="grid__item__info__date">Updated 21 Jul</span>
				</div>
			</div>
		</div>
		<div class="grid__tail-6">
			<div class="grid__item">
				<div class="grid__item__wrapper-img">
					<img class=" grid__item__img" src="./img/avatar.png" alt="K">
				</div>
				<div class="grid__item__info">
					<h1 class="grid__item__info__heading">kts-school-frontend</h1>
					<a class="grid__item__info__caption" href="#">ktsstudio</a>
					<img class="grid__item__info__star" src="./img/star.svg" alt="star">
					<span class="grid__item__info__number">123</span>
					<span class="grid__item__info__date">Updated 21 Jul</span>
				</div>
			</div>
		</div>
</body>

</html>